th {
background-color:yellow;
color: #ff000;
}

#sttnf
{
color: #ff000;
font-family:serif;
font-weight:bold;
}

p.right {text-align: right}
p.center {text-align: center}

.center {text-align: center}

h1 
{color:blue;}

.row_ganjil {
	background-color: blanchedalmond; 
	color: red;}

a:hover{ color:red;}

#warna {
	color: green;
}